@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

main {
  flex: 1;
}

#nprogress {
  z-index: 51;
}
