@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 204, 255, 1) rgba(21, 28, 36, 0);
  }

  html {
    scroll-behavior: smooth;
    line-height: 1.15;
  }
  #nprogress {
    z-index: 51;
  }
  body {
    @apply font-open-sans bg-bg min-h-svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  main {
    flex-grow: 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-quicksand bg-pxlgn-gradient text-transparent bg-clip-text font-semibold uppercase;
    line-height: 1.20;
  }
  h1 {
    font-size: min(12vw, 7.5rem);
  }
  h2 {
    font-size: min(10vw, 5rem);
  }
  h3 {
    font-size: min(8vw, 3rem)
  }
  p, ul {
    @apply text-xl text-wh leading-normal;
  }
  .menu--close > li {
    @apply max-h-0 md:max-h-none;
  }
  .menu--open > li {
    @apply max-h-12 md:max-h-none delay-0;
  }
  .menu--open > li:nth-child(2) {
    @apply delay-100;
  }
  .menu--open > li:nth-child(3) {
    @apply delay-200;
  }
  .menu--open > li:nth-child(4) {
    @apply delay-300;
  }
  .text-pxlgn {
    @apply bg-pxlgn-gradient text-transparent bg-clip-text font-normal;
  }
}

/* cookieconsent */
