node_modules
npm-debug.log*
.next
.git
.gitignore
README.md
Dockerfile*
.dockerignore
.cache
.vscode
.idea
*.log
dist
build
.DS_Store
*.tgz
*.tar.gz
.turbo
package-lock.json
yarn.lock
.pnpm-store
.env.local
.env