services:
  app:
    build: .
    container_name: NeoCMS
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - uploads:/app/public/uploads

  db:
    image: postgres:15
    restart: always
    container_name: NeoCMS-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: NeoCMS
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  uploads:
